*{
	box-sizing: border-box;
}

body, html{
	height: 100%;
	margin:0px;
}

header{
	width: 100%;

}
.mainContent{
	padding: 16px;
	margin-top: 50px;
}
.pagetitle{
	font-family: 'Arial', sans-serif;
	text-align: center;
	position: fixed;
	width: 100%;
	top:0;
	background-color: #C0C0C0;
	box-shadow: 0px 10px 18px #888888;
}
.footerDiv{
	text-align: center;
}